<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projetoles.verso"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="tntstudios.com.br.gcmapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="tntstudios.com.br.gcmapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".NaoConectadoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name=".CriarContaActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".CriarPoesiaActivity" >
        </activity>
        <activity android:name=".BiografiaActivity" >
        </activity>
        <activity android:name=".EditarPerfilActivity" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".PerfilActivity" >
        </activity>
        <activity android:name=".PesquisarActivity" >
        </activity>
        <activity android:name=".CurtidaActivity" >
        </activity>
        <activity android:name=".NotificacoesTelaActivity" >
        </activity>
        <activity 
            android:name=".ConfiguracoesActivity"
            android:label="Configurações" >
        </activity>
        <activity android:name=".SharingInstagramActivity" >
        </activity>
        <activity android:name=".InstagramApp" >
        </activity>
        <activity android:name=".InstagramDialog" >
        </activity>
        <activity android:name=".InstagramSession" >
        </activity>
        <activity android:name=".DescobrirActivity" >
        </activity>
        <activity android:name=".MaisCurtidasActivity" >
        </activity>
        <activity android:name=".MaisComentadasActivity" >
        </activity>
        <activity android:name=".MaisSeguidosActivity" >
        </activity>
        <activity
            android:name=".ResultadoPesquisaActivity"
            android:label="Verso - Resultados da pesquisa" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
       
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ComentarioActivity"
            android:label="@string/title_activity_comentario" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.projetoles.verso" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetoles.verso.MainActivity" />
        </activity>
        <activity
            android:name=".SeguidoresActivity"
            android:label="@string/title_activity_seguidores" >
        </activity>
        
        <provider android:authorities="com.facebook.app.FacebookContentProviderl.facebook_app_id"
          android:name="com.facebook.FacebookContentProvider"
          android:exported="true"/>
    </application>

</manifest>